
    
 body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
            background-image: url("https://i.pinimg.com/736x/0b/52/b3/0b52b366e7bf6a171ff635ca2a29e7eb.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-blend-mode: overlay;
            background-color: rgba(244, 244, 244, 0.8);
        }
        header {
            background-color: #2c3e50;
            color: #fff;
            padding: 1.5rem 0;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
        